@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  
  /* Custom Color Palette */
  --primary-blue: #243b64;
  --accent-yellow: #dda01e;
  --light-grey: #F3F4F6;
  --medium-grey: #9CA3AF;
  --dark-charcoal: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --color-accent-yellow: var(--accent-yellow);
  --color-light-grey: var(--light-grey);
  --color-medium-grey: var(--medium-grey);
  --color-dark-charcoal: var(--dark-charcoal);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins-bold), -apple-system, BlinkMacSystemFont, sans-serif;
}
